.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:19px;
    width: 30%;
    max-width: 400px;
    max-height: 200px;
    background-color: white;
    z-index: 1;
    border-radius: 8px;
    transition: all .2s ease-in-out; 
}

.gallery:hover { 
    transform: scale(1.1); 
    cursor: pointer;
    }

.gallery > img {
    max-height: 218px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    
}